* {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: aliceblue;
    color: FEFCFB;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    margin-left: -30px;
}

.logo a:hover {
    transform: translateY(-5px);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 45px;
    margin-left: 5px;

}

.nav-links li a {
    text-decoration: none;
    color: #201f1f;
    font-size: 15px;
}

.nav-links li a:hover {
    color: #2270e4;
}

.auth a {
    margin-left: 15px;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 14px;
}

.auth a:hover {
    color: #2270e4;
}

.login {
    color: #444;

}

.signup {
    background: #ff7f3f;
    color: white;
    margin-right: 5px;
}

.header-hero {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 50px 30px;

}

.hero-cont {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.1;
    margin-top: 80px;
}

.hero-cont>h1{
    padding-top: -90px;
    margin-left: 30px;
}
.hero-cont>p{
    display: flex;
    margin-left: 50px;
}

.highlight {
    color: #ff7a00;
    font-weight: 700;
}

.hero-cont>p {
    display: flex;
    text-align: start;
    font-size: smaller;
    margin-left: 25px;
    margin-top: 30px;
}



.discover-btn {
    display: flex;
    margin-top: 25px;
    padding: 12px 28px;
    background: white;
    border-color: #ff7f3f;
    color: #ff7f3f;
    border-radius: 10px;
    text-decoration: none;
    margin-left: -140px;
}

.discover-btn:hover {
    transform: scale(1.2);
}

.hero-right {
    height: 75vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 10px;

}

.search-box-one {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: white;
    padding: 25px;
    margin-left: 135px;
    margin-top: 66px;
    margin-right: 180px;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
}

.search-box-one>item {
    width: 15%;
}

.search-box-one>label {
    font-weight: 600;
}


.search-box-one>p {
    color: #777;
    font-size: 14px;
    margin-top: 5px;
}

.explore-btn {
    padding: 12px 22px;
    background: #ff7f3f;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.explore-btn:hover {
    transform: scale(1.2);
}

.cont-two {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
    background-color: aliceblue;
    max-width: 1200px;
    margin: 40px auto;
    padding: 50px 30px;
}

.two-header>h2>span {
    color: #ff7f3f;

}

.smalljet {
    position: absolute;
    margin-left: 90px;
    width: 110px;
}

.cont-two-para {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    color: #666;
    position: absolute;
    margin-top: 40px;
    margin-right: 40px;
}

.footer-box {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 70vw;
    margin-top: 150px;
    gap: 30px;
    margin-left: 130px;

}

.box1 {

    background-color: white;
    border-color: #201f1f;
    padding: 50px;
    background-image: url(./public/Vector\ 4856\ \(2\).png);
    backdrop-filter: inherit;

}

.background-image {
    filter: brightness(80%);
}


.box2 {

    background-color: white;
    border-color: #201f1f;
    padding: 40px;

    background-image: url(./public/Vector\ 4856\ \(3\).png);
}

.background-image {
    filter: brightness(80%);
}

.box3 {

    background-color: white;
    border-color: #201f1f;
    padding: 40px;
    background-image: url(./public/Vector\ 4857\ \(2\).png);
}

.background-image {
    filter: brightness(80%);
}

.foot-box-cont1 {
    padding: 20px;
    font-weight: bolder;
    font-size: x-large;
}

.container-three {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
    background-color: aliceblue;
    max-width: 1200px;
    margin: 40px auto;
    padding: 50px 30px;
}

.three-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-three-para {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    color: #666;
    position: absolute;
    margin-top: 40px;
    margin-right: 40px;
}

.cont-three-color {
    color: #ff5e14;
}

.card-one-container {
    max-width: 1200px;
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

.card-one {
    width: 220px;
    height: 350px;
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.card-one:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}


.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}


.butt {
    position: absolute;
    bottom: 12px;
    left: 50%;
    background: #ff8c3c;
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    margin-left: -45px;
    margin-bottom: 10px;
}

.butt{
transform: translateY(-5px);
}


.cards-one-body>h3 {
    margin: 8px 0 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    text-align: justify;
}


.rating {
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: end;


}


.location {
    color: #777;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: left;
}


.price {
    display: flex;
    gap: 10px;
    font-size: 15px;
    align-items: center;
    text-align: end;
}

.old {
    text-decoration: line-through;
    color: #999;
    margin-left: 110px;
    margin-bottom: 40px;
}

.new {
    color: #ff5733;
    font-weight: 700;
    margin-bottom: 40px;

}


.card-l-r-button {

    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    bottom: 850px;
}

.l-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: transparent;
    color: #555;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #555;
    outline: #555;
    transition: .5s;


}

.r-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: #ff5e14;
    color: white;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    transition: .5s;

}

.content4 {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 80px;
    font-weight: 900;
    margin-top: 70px;
}

.cont4-head {
    display: flex;
    justify-content: center;
    margin: 60px;
    font-size: xx-large;
    margin-bottom: -120px;
}

.cont4-color {
    color: #ff7f3f;
}

.cont4-tree {
    position: absolute;
    margin-left: 660px;
    margin-top: 19px;
    width: 120px;
}

.cont4-para {

    display: flex;
    justify-content: center;
    font-weight: 100;
    text-align: center;
    padding: 60px;
    position: relative;
    bottom: -90px;
}

.para-l-r-button {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    position: absolute;
    margin-top: 170px;
    margin-left: 60px;
    padding: 40px;
}

.p-l-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: transparent;
    color: #555;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #555;
    outline: #555;
    transition: .5s;

}

.p-r-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: #ff5e14;
    color: white;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    transition: .5s;

}

.cards-two-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    padding: 40px;
    margin-left: 150px;
    margin-right: 80px;
    flex-wrap: wrap;
}

.card-two {
    width: 240px;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.card-two:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}


.img-box-two {
    position: relative;
}

.img-box-two img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 12px;
}

.cards-two-body>h3 {
    margin: 12px 0 5px;
    font-size: 20px;
    font-weight: 600;
}


.star {
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: end;
}


.trip-days {
    color: #777;
    font-size: 14px;
    margin-bottom: 12px;
}


.price {
    display: flex;
    gap: 10px;
    font-size: 15px;
    align-items: center;
}

.cost {
    display: flex;
    margin-left: 150px;
    color: #ff5733;
    font-weight: 700;

}


.cont-5 {
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;


}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 2%;
    margin-bottom: 40px;
}

.left-content>h3 {
    font-size: 220%;
    margin-left: -50px;
    padding: 70px;
}

.cont5-color {
    color: #ff5e14;
}



.cont5-para>p {
    display: flex;
    font-size: small;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    margin-left: -19px;
    margin-bottom: -10px;
    margin-top: -80px;
}


.l-r-button {
    display: flex;
    padding: 30px;
    margin-left: -14px;
    gap: 15px;
}

.l-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: transparent;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
    border-color: #555;
    outline: #555;
    transition: .5s;

}

.r-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: #ff5e14;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .5s;
}


.right-box-cont {
    display: flex;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    position: relative;

}

.cards-two-updown {
    margin-top: 150px;
    margin-right: 10px;
}

.f-card {
    height: 160px;
    width: 280px;
    background-color: white;
    margin-top: -240px;
    margin-left: -30px;
    gap: 50px;
    border-color: #444;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.f-card>p {
    padding: 18px;
    font-size: small;
    padding-bottom: 10px;
}

.f-card>h3 {
    margin-left: 10px;
    margin-top: 10px;


}

.f-card>h4 {
    font-size: x-small;
    margin-top: 10px;
    margin-left: 10px;
}

.b-card {
    height: 160px;
    width: 280px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.b-card>h6 {
    display: flex;
    justify-content: flex-start;
    padding-top: 120px;
    padding-left: 10px;

}

.s-card {
    width: 4px;
    height: 5px;
    margin-top: -170px;
    margin-left: -40px;
}

.plane-three {
    width: 7px;
    height: 5px;
    display: flex;
    justify-content: center;
    margin-right: 80px;
}

.container-6 {
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-top: 70px;
    margin-bottom: 150px;

}

.colorx {
    color: #ff5e14;
}

.cont-6-cards {
    max-width: 1200px;
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
    margin-top: -40px;
}

.card-three {
    width: 220px;
    height: 350px;
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.card-three:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}


.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.cards-three-body>h3 {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 200;
    margin-top: 30px;
}

.dates {
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}

.page-dots {
    text-align: center;
    margin-top: 68px;
    margin-right: 130px;
    margin-left: 50px;
    transform: scale(3px);
}

.dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #666;
    border-radius: 50%;
    margin: 0 6px;
}

.dot:hover {
    transform: translateY(3px);
}

.dot-active {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ff5e14;
    background: orangered;
    border-radius: 50%;
    margin: 0 6px;

}

.dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #666;
    border-radius: 50%;
    margin: 0 6px;
}

.bottom-body {
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.orange-box {
    height: 45vh;
    width: 60vw;
    background-color: #ff7a2f;
    margin-top: 60px;
    border-radius: 10px;
}

.orange-box>h4 {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: x-large;
    margin-top: -210px;
}

.tree {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    margin-left: 689px;
    margin-top: -100px;
}

.round {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    margin-top: 120px;
}

.search-box-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border-radius: 10px;
}

.search-box-two>input {

    width: 380px;
    height: 50px;
}

.search-box-two>button {
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: 275px;
    background-color: #ff5e14;
    border-radius: 10px;
    color: white;
}

.bottom-section {
    display: flex;
    padding-left: 180px;

}


.bottom-head-one {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
    flex: 1 1 auto;
    align-items: start;
    padding-top: 60px;
    
}

.bottom-head-one>ul>li{
    list-style-type: none;
    margin-top: 20px;
}

.bottom-head-two {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
    flex: 1 1 auto;
    align-items: start;
    padding-top: 60px;
}

.bottom-head-two>ul>li{
    list-style-type: none;
    margin-top: 20px;
}


.social {
    padding-top: 40px;
}

.bottom-head-three {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
    flex: 1 1 auto;
    align-items: start;
    padding-top: 60px;
}

.bottom-head-three>ul>li{
    list-style-type: none;
    margin-top: 20px;
}


.bottom-head-four {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
    flex: 1 1 auto;
    align-items: start;
    padding-top: 60px;
}

.bottom-head-four>ul>li{
    list-style-type: none;
    margin-top: 20px;
}


.line {
    width: 960px;
    height: 2px;
    background-color: #444;
    display: flex;
    margin-left: 150px;
    margin-top: 50px;

}

.under-line-cont {
    display: flex;
    justify-content: center;
    gap: 430px;
    padding-top: 50px;
}