* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: aliceblue;
    color: FEFCFB;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

.logo a:hover {
    color: blue;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links li a {
    text-decoration: none;
    color: #201f1f;
    font-size: 15px;
}

.nav-links li a:hover {
    color: #2270e4;
}

.auth a {
    margin-left: 20px;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 14px;
}

.auth a:hover {
    color: #2270e4;
}

.login {
    color: #444;
}

.signup {
    background: #ff7f3f;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 10%;

}

.hero-text h1 {
    font-size: 48px;
    line-height: 1.2;
    color: #1a1a1a;
    margin-top: 50px;
    margin-bottom: 150px;
}

.hero-text h1 span {
    color: #ff7f3f;
}

.para-head {
    margin-top: 10px;
    max-width: 400px;
    margin-bottom: 50px;
    color: #666;
}

.discover-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 28px;
    background: white;
    border-color: #ff7f3f;
    color: #ff7f3f;
    border-radius: 10px;
    text-decoration: none;
}

.discover-btn:hover {
    transform: scale(1.2);
}


.hero-image {
    position: relative;
    height: 55vh;
    width: 25vw;
    margin-left: 290px;
}

.traveler {
    width: 30vw;
    height: 70vh;
    margin-top: -200px;
    margin-left: -630px;
    margin-bottom: -10px;

}

.head-plane {
    margin-left: -250px;
    margin-bottom: 700px;
    margin-top: -170px;
}

.backround-ellipse {
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
    margin-left: -690px;

}

.trophy-box {
    position: relative;
    width: 11vw;
    height: 9vh;
     padding: 5px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 90px;
    margin-left:-40px;
    margin-top: -439px;
}

.three-sbox :hover{
    transform: translateY(5px);
} 

.star-box {
    position: relative;
    width: 11vw;
    height:9vh;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 80px;
    margin-left: 330px;


}

.google-box {
    position: relative;
    width: 11vw;
    height:9vh;
     padding: 5px;
    margin-left: -10px;
    margin-top: -15px;
    border-radius: 10px;
    background-color: white;


}

.search-box {
    margin: 50px auto;
    width: 60%;
    padding: 25px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
}

.search-box .item {
    width: 25%;
}

.search-box label {
    font-weight: 600;
}

.search-box p {
    color: #777;
    font-size: 14px;
    margin-top: 5px;
}

.explore-btn {
    padding: 12px 22px;
    background: #ff7f3f;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.explore-btn:hover {
    transform: scale(1.2);
}

.hero2 {
    margin: 50px;
    display: flex;
    justify-content: center;
    top: 30px;

}

.footer>h2>span {
    color: #ff7f3f;

}

.smalljet {
    position: absolute;
    margin-left: 90px;
    width: 140px;
}

.footer-para {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 20px;
    color: #666;
    position: absolute;
    margin-top: 40px;
    margin-right: 40px;
}

.footer-box {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 40px;

}

.box1 {
    height: 250px;
    width: 350px;
    background-color: white;
    border-color: #201f1f;
    padding: 40px;
    background-image: url(./public/Vector\ 4856\ \(2\).png);
    backdrop-filter: inherit;

}

.background-image {
    filter: brightness(80%);
}


.box2 {
    height: 250px;
    width: 350px;
    background-color: white;
    border-color: #201f1f;
    padding: 40px;

    background-image: url(./public/Vector\ 4856\ \(3\).png);
}

.background-image {
    filter: brightness(80%);
}

.box3 {
    height: 250px;
    width: 350px;
    background-color: white;
    border-color: #201f1f;
    padding: 40px;

    background-image: url(./public/Vector\ 4857\ \(2\).png);
}

.background-image {
    filter: brightness(80%);
}

.foot-box-cont1 {
    padding: 20px;
    font-weight: bolder;
    font-size: x-large;
}

.cont3-header {

    display: flex;
    justify-content: center;
    margin: 100px;
    font-weight: 900;
    margin-bottom: 50px;

}

.cont3-header>h1 {
    margin-top: 30px;
    bottom: 100px;

}

.cont3-color {
    color: #ff7f3f;
}

.cont3-para {

    display: flex;
    justify-content: center;
    font-weight: 100;
    padding: 30px;
    position: relative;
    text-align: center;
    bottom: 60px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    padding: 30px;
    bottom: 40px;
}

.cards {
    width: 240px;
    height: 390px;
    background-color: white;
    border-radius: 12px;
    border-color: #444;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.cards :hover {
    transform: translate(1px);

}

.cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.book-btn {
    position: absolute;
    top: 215px;
    left: 25%;
    transform: translateY(-50%);
    padding: 15px 25px;
    background: #ff7a2f;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
}

.card-body {
    padding: 10px;
}

.card-body h3 {
    font-size: 15px;
    font-weight: 900;
}

.location {
    display: flex;

    align-items: center;
    width: 10px;
    height: 10px;
    color: #888;
    font-size: 14px;
    margin-left: 160px;
    margin-top: -20px;
}

.pin {
    display: inline-block;
    transform: translateY(2px);
    letter-spacing: 5px;
}

.details {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 10px;
    font-size: 14px;
    align-items: center;
    padding-bottom: 20px;
}

.ratings {
    width: 10px;
    height: 10px;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 10px;

}

.old-price {
    text-decoration: line-through;
    color: #aaa;
    margin-left: 105px;
    margin-top: 18px;
}

.new-price {
    color: #ff5e14;
    background-color: #FFE7DB;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 18px;
}

.card-l-r-button {

    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    bottom: 850px;
}

.l-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: transparent;
    color: #555;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #555;
    outline: #555;
    transition: .5s;


}

.r-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: #ff5e14;
    color: white;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    transition: .5s;

}

.content4 {
    display: flex;
    justify-content: center;
    margin: 80px;
    font-weight: 900;
    margin-top: 70px;
}

.cont4-head {
    display: flex;
    justify-content: center;
    margin: 60px;
    font-size: xx-large;
    margin-bottom: -20px;
}

.cont4-color {
    color: #ff7f3f;
}

.cont4-tree {
    position: absolute;
    margin-left: 600px;
    margin-bottom: 260px;
    width: 120px;
}

.cont4-para {

    display: flex;
    justify-content: center;
    font-weight: 100;
    text-align: center;
    padding: 60px;
    position: relative;
    bottom: 10px;
}

.para-l-r-button {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    position: absolute;
    margin-top: 180px;
    margin-left: 60px;
    padding: 40px;
}

.p-l-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: transparent;
    color: #555;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #555;
    outline: #555;
    transition: .5s;

}

.p-r-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: #ff5e14;
    color: white;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    transition: .5s;

}

.cards-two-container {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: -50px;
}

.cards-two {
    width: 240px;
    height: 320px;
    background-color: white;
    border-radius: 12px;
    border-color: #444;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}


.cards-two img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.cards-two :hover {
    transform: translateY(-5px);

}

.cards-body {
    padding: 10px;
}

.card-body h3 {
    font-size: 15px;
    font-weight: 900;
}

.dollor {
    color: #ff5e14;
    background-color: #FFE7DB;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin-left: -10px;
    margin-top: -45px;
}

.ratings-two {
    display: flex;
    align-items: center;
    width: 5px;
    height: 5cqb;
    color: #888;
    font-size: 14px;
    margin-left: 160px;
    margin-top: -120px;

}

.trip-days {
    display: flex;
    align-items: center;
    text-align: initial;
    width: 5px;
    height: 5cqb;
    color: #888;
    font-size: 14px;
    margin-left: 1%;
    margin-top: 10px;
}

.pin-two {
    display: inline-block;
    transform: translateY(2px);
    letter-spacing: 10px;

}

.cont-5 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    font-size: xx-large;
    gap: 20px;
}

.left-cont {
    margin-left: 280px;
    align-items: flex-start;

    padding: 28px;
    margin-top: -50px;
    margin-left: 330px;

}

.cont5-color {
    color: #ff5e14;
}



.cont5-para>p {
    display: flex;
    justify-content: center;
    font-size: small;
    text-align: start;
    padding: 5px;
    position: absolute;
    bottom: -2590px;
    margin-left: -10px;

}


.l-r-button {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    position: absolute;
    margin-top: 80px;
    margin-left: 10px;
    margin-bottom: 50px;
}


.l-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: transparent;
    color: #555;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #555;
    outline: #555;
    transition: .5s;

}

.r-arrow {
    width: 35px;
    height: 35px;
    border: 2px solid #d3d3d3;
    background: #ff5e14;
    color: white;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    transition: .5s;

}


.right-box-cont {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;

}

.b-card {
    height: 20vh;
    width: 20vw;
    background-color: white;
    font-size: small;
    margin-top: -50px;
    margin-left: 540px;
    margin-bottom: 10px;
}

.h3 {
    margin-left: 20px;
}

.h4 {
    margin-left: 30px;
}

.f-card {
    height: 20vh;
    width: 20vw;
    background-color: white;
    border-color: #201f1f;
    border-radius: 10px;
    box-shadow: #444;
    position: absolute;
    margin-left: 520px;
    margin-top: -39px;
}

.f-card {
    font-size: small;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.f-card>p {
    margin-bottom: 10px;
}

.s-card {
    height: 50px;
    width: 50px;
    background-color: black;
    background-image: url(./image/boy\ \(12\).png);
    background-size: cover;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    margin-left: 500px;
    margin-top: -230px;
}



.three-plane {
    width: 5vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1250px;
    margin-top: 90px;

}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-top: 130px;
    margin-bottom: 70px;

}

.colorx {
    color: #ff5e14;
}

.cont-6-four-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 30px;
    margin-left: 150px;
}

.four-cards {
    width: 240px;
    height: 390px;
    background-color: white;
    border-radius: 12px;
    border-color: #444;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;

}

.card-contents-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.four-cards:hover {
    transform: translateX(5px);
}

.card-contents.a {
    font-size: small;
    margin-top: 20px;
}

.cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.page-dots {
    text-align: center;
    margin-top: 68px;
    margin-right: 130px;
    margin-left: 50px;
    transform: scale(3px);
}

.dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #666;
    border-radius: 50%;
    margin: 0 6px;
}

.dot:hover {
    transform: translateX(3px);
}

.dot-active {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ff5e14;
    background: orangered;
    border-radius: 50%;
    margin: 0 6px;

}



.dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #666;
    border-radius: 50%;
    margin: 0 6px;
}

.page-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.orange-box {
    height: 45vh;
    width: 60vw;
    background-color: #ff7a2f;
    margin-left: 50px;
}

.orange-box>h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align: center;
    color: white;
    padding: 50px 20px;

}

.tree {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100px;
    position: absolute;
    margin-left: 850px;
    margin-top: -170px;
}

.round {
    height: 250px;
    width: 360px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -90px;


}

.empty {
    width: 35vw;
    height: 8vh;
    background-color: white;
    position: absolute;
    padding-left: 6px;
    padding-top: 12px;
    border-radius: 10px;
    margin-top: 170px;
    margin-left: 140px;
}

.searcbox-btn {
    height: 8vh;
    width: 30vw;
    background-color: transparent;
    color: #555;
    position: absolute;
    padding-left: -2px;
    padding-top: 12px;
    margin-top: 181px;
    margin-left: 78px;
    border-radius: 10px;

}

.subscribe-btn {
    height: 6vh;
    width: 8vw;
    background-color: #ff5e14;
    color: white;
    padding: 15px 5px 5px 30px;
    font-size: medium;
    border-radius: 10px;
    margin-left: 420px;
    margin-top: -32px;

}

.foot-head-logo {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-left: 270px;
    margin-top: 75px;
}

.head-para {
    display: flex;
    justify-content: start;
    font-weight: 100;
    text-align: start;
    padding: 60px;
    position: relative;
    margin-left: -140px;
}

.social-media {
    margin-left: -300px;
    margin-top: 140px;
}

.social-media :hover {
    transform: translateY(3px);
}

.foot-headings {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 380px;
}

.foot-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    margin-top: -190px;
}

.company {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 680px;
    margin-top: -10px;
    gap: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-left: 450px;
    margin-top: -240px;
}

.more {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    margin-bottom: 150px;
    margin-top: -190px;
    margin-right: 200px;
}

.second {
    width: 70vw;
    height: 0.30vh;
    background-color: #777;
    margin-left: 270px;
    margin-bottom: -50px;

}

.terms {
    width: 20vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 50px;
    margin-top: 80px;
    margin-left: 280px;
}

.Conditions {
    width: 20vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 50px;
    margin-top: -50px;
    margin-left: 1250px;
}